/* Core */

body {
	font-size: 10pt;
}

h1 {
	font-size: 12pt;
}

h2 {
	font-size: 11pt;
	line-height: 1.3em;
}

h3 {
	font-size: 10pt;
	
}

.links {
	font-size: 10pt;
}

.submitted {
	display: block;
	margin-bottom: 0;
	padding-bottom: .35em;
	clear: both;
}

.row-fluid {
	margin-top: 50px;
}

/* Fields */

.node-project-page,
.node-biblio 
{
	margin: 20px 20px 0 0;
	overflow: auto
}

article .submitted {
	font-size: 10pt;
	margin-bottom: 1em;
}

article.node-teaser .submitted {
	display: none;
}


#block-views-bb-block-block {
	padding-bottom: 1em;
}
.field-name-body, 
.field-name-field-project-gallery, 
article.node header,
article.node footer,
#block-views-bb-block-block
{
	margin-left: 150px;
}

article.node-biblio header,
article.node-biblio footer
{
	margin-left: 0;
}

article.node-biblio .field-name-field-image {
	float: right;
}

.field-name-field-logo-image,
.field-name-field-logo-project,
.field-name-field-image {
	float: left;
}

.field-name-field-logo-project img,
.field-name-field-image img {
	display: block;
}


.breadcrumb {
	font-size: 8pt;
}


/* Biblio */

.biblio-separator-bar {
	display: none;
}

/* Toolbar */

#toolbar {
	z-index: 10000;
}